* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}   

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


h1, h2 {
    font-family: "Libre Caslon Display", serif;
    font-weight: 500;  
}

body {
    font-family: "Libre Caslon Display", serif;
    visibility: hidden;
    font-weight: 500;
    font-size: 18px;
    color: black;
    background: rgb(248, 246, 246);
    overflow-x: hidden;
}


/*          HOME PAGE             */

.container {
    display: flex;
    height: 200vh;
    width: 100%;
}



.about {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
}

.intro img {
    height: 400px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    margin-bottom: 30px;
    top: 0;
}

.about-text {
    line-height: 2;
    width: 400px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    line-height: 2;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    padding: 40px;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    color: black;
    background: white;
}

/*          END HOME PAGE                */
/*          ABOUT ME PAGE                */

.intro {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    top: 0;
}

.intro h2 {
    margin-top: 30px;
    font-size: 2rem;
}

.intro h1 {
    font-size: 3rem;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.toolkit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    flex-direction: column;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

hr {
    margin-top: 50px;
}

.sm-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sm-icons img {
    height: 25px;
    width: 25px;
    filter: saturate(0);
    transition: all 0.5s ease-in-out;
    box-shadow: none;
}

.sm-icons img:hover {
    filter: saturate(1);
}

.icon-container img {
    height: 75px;
    width: 75px;
    filter: saturate(0);
    transition: all 0.5s ease-in-out;
}

.icon-container img:hover {
    filter: saturate(1);
}

.writing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
    line-height: 2;
}

.writing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    margin-top: 20px;
}

.writing-preview {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.writing-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.writing-preview img:hover {
    opacity: 0;
}

.writing-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 40%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.writing-text{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}

.writing-preview-card {
    flex-basis: 50%;
    position: relative;
    height: 400px;
    width: 250px;
    padding: 20px;
}

.writing-preview-card img {
    height: 400px;
    width: 255px;
    object-fit: cover;
    position: absolute;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translate(-20px, -20px);
}

.writing-preview-card:hover img {
    transform: translate(-20px, -370px);
}

/*          END ABOUT ME PAGE             */

/*          PHOTOGRAPHY PAGE            */

.photography-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.photography-container h1 {
    text-align: center;
}

.photography {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photography button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: "libre caslon display", serif;
    font-weight: 200;
    padding: 15px;
    width: fit-content;
    color: black;
    padding: 20px;
    margin: 10px;
    box-shadow: inset 0 10px 20px rgb(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}


.photography-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    max-width: 450px;
    width: 100%;
    margin: 50px;
    margin-top: 70px;
}

.photography-text img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    animation: dragAnimation 2s infinite;
}

.photography button:hover {
    background-color: #c0c0c0;
}

.drag-hint {
    font-size: 14px;
}

@keyframes dragAnimation {

    0% {
        transform: translateX(0);
        opacity: 1;
    }

    70% {
        transform: translateX(-100px);
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}


/*           END PHOTOGRAPHY PAGE           */
/*          PROJECTS PAGE                   */

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}

.project-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 700px;
    padding: 20px;
    margin: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.project-preview {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-left: auto;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 10px;
}


.project-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


/*          END PROJECTS PAGE               */

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}



.nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.7);
    align-items: center;
    backdrop-filter: blur(10px);
}

.nav button {
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255, 0.0);
    font-family: inherit;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.nav button:hover {
    background-color: white;
}

.nav img {
    height: 40px;
    width: 40px;
    filter: invert();
}

li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-left: auto;
}

li:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

ul {
    display: flex;
    gap: 20px;
}

.footer {
    display: flex;
    height: 20vh;
}

.footer {
    writing-mode: vertical-lr;
}


/*          LIGHTBOX             */

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#lightbox.active {
    display: flex;
}

#lightbox img {
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/*          END LIGHTBOX             */

/*          IMAGE TRACK             */

.track-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.photography-text {
    user-select: none;   
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;      
    pointer-events: none;  
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%, -50%);
}

#image-track > .image {
    user-select: none;   
    -webkit-user-select: none; 
    -moz-user-select: none;     
    -ms-user-select: none;      
    pointer-events: none;  
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.35);
}

/*          END IMAGE TRACK              */

.darkmode {
    background: #303030;
    color: white;
}

.darkmode .nav {
    background: rgba(0, 0, 0, 0.4); 
}

.darkmode .nav button {
    color: white;
}

.darkmode .nav button:hover {
    background: black;
}

.darkmode-container {
    display: flex;
    flex-direction: row;
}

.darkmode-container img {
    height: 30px;
    width: 30px;
}

.darkmode #darkmode-img {
    display: none;
}

.darkmode #lightmode-img {
    display: flex;
}

.darkmode .photography-text img {
    filter: invert(1);
}

.darkmode .photography button {
    color: white;
    background-color: #303030;
}

.darkmode .photography button:hover {
    background-color: black;
}

#darkmode-img {
    display: flex;
    filter: invert(0);
    transition: 0s;
}

.darkmode .git img {
    filter: invert(1);
}

#lightmode-img {
    display: none;
}

@media screen and (max-width: 768px) {
.nav {
    display: none;
}
    
    #home {
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 400px;
        align-items: center;
    }

    .about {
        position: relative;
        flex-basis: 100%;
        justify-items: center;
        width: 100%;
        max-width: 400px;
    }

    .about-text {
        width: 100%;
        max-width: 300px;
        padding: 10px;
    }

    .intro > img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .toolkit {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        margin: 10px;
        padding: 10px;
        height: auto;
    }
    

    .icon-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 400px;
        height: fit-content;
    }

    .sm-icons img {
        filter: saturate(1);
    }

    .icon-container img {
        filter: saturate(1);
    }

    .photography-container {
        height: 60vh;
    }

    .photography {
        height: auto;
    }

    #photography img {
        display: none;
    }

    .track-container {
        display: none;
    }

    .drag-hint {
        display: none;
    }

    .photography-text {
        margin-left: 70px;
        width: 350px;
        max-width: 400px;
    }


    .writing-container {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }

    .writing-text {
        width: 100%;
        max-width: 400px;
    }

    .writing-preview-card img {
        width: 100%;
        height: auto;
        position: relative;
        transform: none;
    }

    .writing-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }

    .projects-container {
        height: auto;
        align-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
    }

    .project-card {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .project-card img {
        margin-left: 0;
    }

    .footer {
       display: none;
    }
}
